*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  min-width: 375px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:
    Play Arial,
    Helvetica;
}

#app {
  flex-grow: 1;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

input[type='text'] {
  padding: 0;
  border: none;
}
